<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Xem up bài giải</title>
  <script src="../static/assets/jquery/jquery.3.2.1.js "></script>
  <script src="../static/assets/bootstrap/js/bootstrap.min.js "></script>
  <script src="../static/assets/bootstrap/js/parallax.min.js"></script>
  <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/assets/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/assets/style.css">
</head>
<body>
<div class="container">
  <div class="row table-row" >
    <div class="col-md-1">
      <label class="control-label label-id">1111</label>
    </div>
    <div class="col-md-11">
      <a class="link-question" >Câu hỏi 1</a>
      <div id="demo1" >
        Vừa gà vừa chó <br>
        Có 36 con <br>
        Bó lại cho tròn <br>
        100 chân chẵn <br>
        Hỏi có mấy gà, mấy chó?
      </div>
    </div>
  </div>
  <hr>
  <div style="text-align: center">
    <label class="control-label label-id" >Bài giải</label>
  </div>
  <div>
    <label class="control-label label-id" >Nguyễn Văn A</label>
    <div class="row table-row answer" >
      Câu chuyện từ năm 2005 mà vẫn thú vị...Ở bài viết trên ta cũng thấy những tình huống học sinh làm sai
      và người thầy đã từ cái sai để dẫn học sinh đến một lời giải đúng mà không lẳng lặng đưa ra lời giải của mình.
      Lời giải cuối cùng chắc gây bất ngờ cho các bạn.
      Bởi vậy: "Nếu chúng ra áp đặt những cách giải mẫu thì học sinh chúng ta sẽ không thể sáng tạo!".
    </div>
  </div>
  <hr>
  <div>
    <label class="control-label label-id" >Nguyễn Văn A</label>
    <div class="row table-row answer"  >
      Câu chuyện từ năm 2005 mà vẫn thú vị...Ở bài viết trên ta cũng thấy những tình huống học sinh làm sai
      và người thầy đã từ cái sai để dẫn học sinh đến một lời giải đúng mà không lẳng lặng đưa ra lời giải của mình.
      Lời giải cuối cùng chắc gây bất ngờ cho các bạn.
      Bởi vậy: "Nếu chúng ra áp đặt những cách giải mẫu thì học sinh chúng ta sẽ không thể sáng tạo!".
    </div>
  </div>
  <hr>
  <div>
    <label class="control-label label-id" >Nguyễn Văn A</label>
    <div class="row table-row answer" >
      Câu chuyện từ năm 2005 mà vẫn thú vị...Ở bài viết trên ta cũng thấy những tình huống học sinh làm sai
      và người thầy đã từ cái sai để dẫn học sinh đến một lời giải đúng mà không lẳng lặng đưa ra lời giải của mình.
      Lời giải cuối cùng chắc gây bất ngờ cho các bạn.
      Bởi vậy: "Nếu chúng ra áp đặt những cách giải mẫu thì học sinh chúng ta sẽ không thể sáng tạo!".
    </div>
  </div>
  <hr>
  <div>
    <textarea class="comment"></textarea>
  </div>
  <div>
    <button class="btn btn-danger btn-submit"> Đăng bài giải</button>
  </div>

</div>
</body>
</html>