<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Câu hỏi và bài giải</title>
  <script src="../static/assets/jquery/jquery.3.2.1.js "></script>
  <script src="../static/assets/bootstrap/js/bootstrap.min.js "></script>
  <script src="../static/assets/bootstrap/js/parallax.min.js"></script>
  <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/assets/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/assets/style.css">
</head>
<body>
<div class="container" >
  <div class="header">
    <label class="control-label label-id">Mã bài</label>
    <input class="search" type="search" placeholder="Nhập bài tập bạn muốn tìm">
    <button class="btn btn-danger btnSearch" >
      <i class="fa fa-search" aria-hidden="true"></i> Search</button>
  </div>
  <div class="body">
          <div class="row table-row" >
            <div class="col-md-1">
              <label class="control-label label-id">1111</label>
            </div>
            <div class="col-md-11">
              <a class="link-question" >Câu hỏi 1</a>
              <div id="demo1">
                Vừa gà vừa chó <br>
                Có 36 con <br>
                Bó lại cho tròn <br>
                100 chân chẵn <br>
                Hỏi có mấy gà, mấy chó?
              </div>
            </div>
          </div>
    <br>
          <div class="row table-row">
            <div class="col-md-1">
              <label class="control-label label-id">1112</label>
            </div>
            <div class="col-md-11">
              <a class="link-question" >Câu hỏi 2</a>
              <div id="demo2" >
                Vừa gà vừa chó <br>
                Có 36 con <br>
                Bó lại cho tròn <br>
                100 chân chẵn <br>
                Hỏi có mấy gà, mấy chó?
              </div>
            </div>
          </div>
    <br>
          <div class="row table-row">
            <div class="col-md-1">
              <label class="control-label label-id">1113</label>
            </div>
            <div class="col-md-11">
              <a class="link-question" >Câu hỏi 3</a>
              <div id="demo3" >
                Vừa gà vừa chó <br>
                Có 36 con <br>
                Bó lại cho tròn <br>
                100 chân chẵn <br>
                Hỏi có mấy gà, mấy chó?
              </div>
            </div>
          </div>
    <br>
          <div class="row table-row">
            <div class="col-md-1">
              <label class="control-label label-id">1114</label>
            </div>
            <div class="col-md-11">
              <a class="link-question" >Câu hỏi 4</a>
              <div id="demo4" >
                Vừa gà vừa chó <br>
                Có 36 con <br>
                Bó lại cho tròn <br>
                100 chân chẵn <br>
                Hỏi có mấy gà, mấy chó?
              </div>
            </div>
          </div>




  </div>


</div>
</body>
</html>